@font-face {
  font-family: MyriadProRegular;
  src: url(./fonts/MyriadProRegular.ttf);
  font-weight: normal;
}

* {box-sizing:border-box;}

body{
  font-family:'MyriadProRegular';
  margin: 0;
}

header{
  top:0;
  height: 365px;
  position: relative;
  overflow: hidden;
  color:white;
}

#container-nav{
  z-index: 2;
  width: 60%;
  margin:auto;
}

nav{
  position:absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 75px;
}
nav>ul{
  margin: auto 0 auto ;
}
nav a {

  color: rgb(226 226 226);
  text-decoration: none;
}

nav a:hover {
  color:rgb(255, 254, 254);
  text-decoration: none;
}

nav ul li a.active, nav a.active {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

nav>ul>li{
  display: inline-block;
  list-style: none;
  margin-right: 40px;
}

nav>a, nav>button{
  display: inline;
  margin: auto;
  justify-content: end;

}

#search {
  background: url("search.svg") center center no-repeat;
  height:25px;
  border: none;
  outline: none;
  cursor:pointer;
}
nav> ul> li> .active{
  position: relative;
  background: none;
}
.active img{

  position: absolute;
  position: absolute;
  margin: 50% 40%;
}

.mySlides img{
  position: absolute;
  margin:0;
  z-index: 0;
  text-align: center;
  vertical-align:center ;
  max-width: 100%;
}



.title-img{
  display: inline-block;
  z-index: 1;
  vertical-align: center;
  text-align: center;
  margin: 100px auto 50px;
  width: 100%;
  position: relative;
}


.text{
  display: inline-block;
  z-index: 2;
  vertical-align: center;
  text-align: center;
  margin: 0 auto 75px auto;
  width: 100%;
  position:relative;
}

.mySlides {
  display: none;
}


/* Position the "next button" to the right */
#dots{
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border: 1px solid #ffffff; 
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4eacef;
}
 

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* section */
section{
  height: 1124px;
  width: 100%;
}

section> h1{
  text-align: center;
  margin: 54px auto;
}

.tabs{
  height: 100%;
  width: 80%;
  margin:auto;
}

.tablink{
  background: none;
  border:none;
  cursor: pointer;
  outline: none;

}
#b-tabs {
  text-align: end;
  margin-bottom: 20px;
}

.container-img {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  background: #2498eb;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
.overlay img{
  margin: auto;
}

.overlay hr{  
  height: 2px;
  width: 50px;
  background: white;

}
.in-overlay{
  height: auto;
  margin-top: 50%;
}
.in-overlay-2{
  height: auto;
  margin-top: 15%;
}

.container-img:hover .overlay {
  opacity: 1;
}

.row {

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}


.column {
  
  flex: 30%;
  padding: 0 4px;

  
}

.column img {
  position: relative;
  margin-top: 8px;
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

/* Section 2 */
#section2{
  display: flex;
}
#section2 h4{
  text-align: left;
}
.section2-col {
  width: 40%;
  float: left;
}
.text-p{
  display: flex;
  font-size: 12px;
  position: relative;
  justify-content: space-between;
}
#f-p{
  width: 60%;
  height: 4px;
  margin: auto 0;
  background:linear-gradient(to right, #018bbe, #8cfbf3);
  border-radius: 40px;
}
.circle-p{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
}

input:invalid{
  border:1px solid red;
}

.circle-in-p {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: auto;
}
.percent-circle-f{
  display: flex;
}
.percent-circle-f .circle-p {
  border:1px solid #61feef;
}

.percent-circle-f .circle-in-p {
  border:3px solid #61feef;
}

#s-p{
  width: 20%;
  height: 4px;
  margin: auto 0;
  background:linear-gradient(to right, #2e77ac, #9ed2f8);
  border-radius: 40px;
}
.percent-circle-s{
  display: flex;
}
.percent-circle-s .circle-p {
  border:1px solid #76c1f7;
}

.percent-circle-s .circle-in-p {
  border:3px solid #76c1f7;
}

#t-p{
  width: 5%;
  height: 4px;
  margin: auto 0;
  background:linear-gradient(to right, #ec855b, #f9b9ab);
  border-radius: 40px;
}
.percent-circle-t{
  display: flex;
}
.percent-circle-t .circle-p {
  border:1px solid #f9b9ab;
}

.percent-circle-t .circle-in-p {
  border:3px solid #f9b9ab;
}
#fo-p{
  width: 25%;
  height: 4px;
  margin: auto 0;
  background:linear-gradient(to right, #a78de6, #f8b4df);
  border-radius: 40px;
}
.percent-circle-fo{
  display: flex;
}
.percent-circle-fo .circle-p {
  border:1px solid #f8b4df;
}

.percent-circle-fo .circle-in-p {
  border:3px solid #f8b4df;
}

.section2-col.col-form{
  
  text-align: center;
}
.sec-per{
  margin-right:10%;
}
.col-form p{
  font-size:12px;
}
form{
  padding-top:40px;
}
input {
  display: block;
  height: 40px;
  margin: 0 auto 25px;
  width: 70%;
  color: #748494;
  background:#f5f5f5;
  border:none;
  padding-left: 15px;
  outline: none;

}

.col-form button {
  height: 40px;
  width: 35%;
  background: #166dd5;
  color: white;
  border: none;
}
/* 
page2 */
.page2-cont{
  width: 80%;
  margin: auto;
  padding-bottom:40px;
}
.page2-cont h2{
  text-align: center;
  margin-top:54px;
}
.row-page2{
  width: 100%;
  justify-content: space-between;
  display: flex;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .col-page2{
    width:100%;
  }
  .row-page2{
    display: block;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .section2-col{
    width: 100%;
  }
  .sec-per{
    margin-right:0;
  }
  .col-page2{
    width:100%;
  }
  .row-page2{
    display: block;
  }
  
}



@media (max-width:640px){
  .text{
    margin: 0 auto 40px auto;
  }
  .section2-col{
    width: 100%;
  }
  

 
 
      
}